body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-topbar a:not(.show-all-link){
  text-decoration: none;
  font-weight: 600;
  color: #000;
  font-size: 17px;
  transition: all 0.2s ease-in-out;
}
.page-topbar a.show-all-link{
  color: #fff;
  background-color: #000;
  padding: 5px 20px;
  border-radius: 50px;
  font-size: 14px;
  line-height: 1;
  transition: all 0.2s ease-in-out;
  /* text-decoration: none; */
}
.page-topbar a:not(.show-all-link):hover{
  color: #2d4792;
}
.page-topbar a.show-all-link:hover{
  background-color: #2d4792;
}
.page-topbar .dropdown button{
  padding: 0;
  outline: 0 !important;
  border: 0 !important;

  font-size: 17px;
  font-weight: 600;
}
.navbar-header .iconslist a{
  color: #000;
  font-size: 17px;
  text-decoration: none;
  font-weight: 600;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}
.navbar-header .iconslist a:hover{
  color: #2d4792;
}

.site-top-banner{
  background-color: #d6e3eb;
  padding: 35px 0 35px;
  border-bottom: 7px solid #000;
}
.banner-title{
  font-size: 1.7em;
  font-weight: 700;
}
.banner-subtitle{
  font-size: 1.45em;
  line-height: 1.4;
}
.banner-colorline{
  font-size: 1.45em;
  font-weight: 700;
  color: #85461e;
}
.banner-btn{
  display: inline-block;
  background-color: #000;
  padding: 8px 30px;
  font-size: 22px;
  color: #fff;
  min-width: 180px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.banner-btn:hover{
  background-color: #2d4792;
}

.item-menu-wrap{
  padding: 30px 0;
  background-color: #2d4792;
}

.item-menu-inner{
  display: flex;
  justify-content: space-between;
}
.menu-item-inner{
  display: flex;
  align-items: center;
}
.menu-item{
  background-color: #fff;
  padding: 0 15px 0 0;
  font-size: 14px;
  color: #000;
  font-weight: 700;
}

.three-blocks-section{
  padding-top: 4em;
}

.home-3block-item{
  padding: 30px;
  border-radius: 10px;
  max-width: 280px;
  margin: auto;
  color: #fff;
  text-align: center;
  font-size: 1.7em;
  font-weight: 700;
}
.home-3block-item.h3i-item1{
  background-color: #1b378a;
}
.home-3block-item.h3i-item2{
  background-color: #f1442b;
}
.home-3block-item.h3i-item3{
  background-color: #327ab9;
}